@font-face {
  font-family: 'perivtina';
  src: url(src/assets/fonts/perivtina.ttf) format("truetype");
}

body {
  font-family: 'Roboto', sans-serif;
}

#page-header {
  background-color: #ffff8f;
  position: sticky;
  top: 0;
}

.events {
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #ac92ec
}

.event img {
  height: 150px;
}

#ticketType {
  width: 100%;
}

.actions {
  flex-wrap: wrap;
}

.quantity {
  margin: 12px auto;
}

.link-item {
  color: #ac92ec;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a text shadow effect */
  transition: color 0.4s;
}

.link-item:hover {
  color: #ffce54; /* Change text color on hover */
}

.logo {
  height: 100px;
  padding: 6px;
}

.main-content-component {
  margin-top: 40px;
  margin-bottom: 40px;
}

.fullEvent {
  border: 1px solid #0e6cb8;
}

.event-title {
  color: #ac92ec;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.event-image {
  display: block;
  margin: 0 auto;
  height: 400px;
  width: 600px;
  padding: 10px;
  border: 3px solid #ac92ec; /* Add a border with color #ac92ec */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
  border-radius: 8px; /* Add rounded corners for a nicer look */
  box-sizing: border-box;
}

.description {
  color: #ac92ec;
  text-align: center;
}


.ticketSelectText {
  margin-left: 20%;
  color: #ffce54;
}

.ticketSelect {
  background: #ffce54;
  
}

.input-ticket {
  margin-top: 10px;
  width: 20%;
  margin-left: 40%;
}

.add-to-cart-btn {
  background: #ffce54;
  margin: 22px auto;
  display: block;
  width: 80%;
}

.add-btn {
  background-color: #de411b;
}

.fullOrder {
  border: 1px solid #0e6cb8;
}

